{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["jest", "@typescript-eslint", "eslint-comments", "promise"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:promise/recommended",
    "plugin:prettier/recommended",
    "prettier/babel",
    "prettier/@typescript-eslint"
  ],
 "env": {
    "node": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "eslint-comments/disable-enable-pair": ["error", { "allowWholeFile": true }],
    "import/prefer-default-export": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["meteor/*", "mongodb"]
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/await-thenable": "error",
    "no-console": "off",
    "require-await": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "no-unused-vars": "error",
    "no-underscore-dangle": "off"
  }
}

